.dapp-navbar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1rem 0;

    .branding-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 20px 0 63px 0;

        .wallet-link {
            margin: 10px;

            p {
                color: #ffffff;
            }
        }
    }
    p {
        font-family: Montserrat;
        font-weight: 500;
        color: #ffffff;
    }

    .dapp-menu-links {
        display: flex;
        align-items: flex-start;
        flex-flow: column;

        a {
            padding: 0.75rem 2rem;
            font-size: 1.125rem;
        }
    }

    .dapp-menu-doc-link {
        margin-top: auto;

        a {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }

            p {
                font-family: Montserrat SemiBold;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #ffffff;
            }
        }
    }

    .social-row {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        padding: 1.3rem;
        a {
            &:hover {
                transform: scale(1.1);
            }
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        z-index: -1;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: transparent;
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: transparent;
        }
    }

    .MuiBackdrop-root {
        background-color: transparent;
    }
}

.MuiDrawer-modal {
    z-index: 7 !important;
}

.menu-divider {
    margin: 20px;
}

.MuiDivider-root {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.12);
}
