.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  color: #3a3a3a;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Merriweather, serif;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Poppins, sans-serif;
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-bottom: 0rem;
  font-family: Poppins, sans-serif;
}

a {
  border-color: #000;
  color: #000;
  text-decoration: underline;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
}

img {
  display: inline-block;
  max-width: 100%;
}

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

label {
  margin-bottom: 0.4rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
}

blockquote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 0.1875rem solid #000;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  margin-top: 0.25rem;
  text-align: center;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-size-small {
  font-size: 0.8125rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.page-padding {
  padding-right: 5%;
  padding-left: 5%;
}

.text-align-right {
  text-align: right;
}

.form-message-error {
  margin-top: 0.75rem;
  padding: 0.75rem;
}

.utility_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility_form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility_image {
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.margin-xsmall {
  margin: 1rem;
}

.margin-small {
  margin: 1.5rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xxhuge {
  padding: 10rem;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-medium {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-medium {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-huge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.text-size-medium {
  font-size: 1.125rem;
  font-weight: 300;
}

.text-color-white {
  color: #fff;
}

.field-label {
  margin-bottom: 0.4rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 1rem;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.35);
  color: #000;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input.shadow-medium {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.button-secondary {
  padding: 1rem 1.25rem;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  border-radius: 8px;
  background-color: hsla(0, 0%, 96.1%, 0.5);
  background-image: radial-gradient(circle farthest-corner at 65% 0%, #fff, hsla(0, 0%, 100%, 0));
  color: #3a3a3a;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-secondary.max-width-full.shadow-medium {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.button-secondary.max-width-full.shadow-medium:hover {
  background-color: #f5f5f5;
  background-image: radial-gradient(circle farthest-corner at 65% 0%, #fff, hsla(0, 0%, 100%, 0));
  box-shadow: 0 20px 16px -4px rgba(0, 0, 0, 0.21), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.form-field-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-field-wrapper.last {
  margin-bottom: 0rem;
}

.text-color-black {
  color: #3a3a3a;
}

.shadow-xlarge {
  box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
}

.shadow-medium {
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.navigation-link-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 44px;
  border-radius: 16px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #000;
  text-decoration: none;
}

.navigation-link-icon:hover {
  background-color: #f3f4f6;
}

.navbar1_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 8.125rem;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.navbar1_component.shadow-xlarge {
  min-height: 5.3rem;
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.navbar1_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_logo-link {
  padding-left: 0px;
}

.navbar1_menu-button {
  padding: 0rem;
}

.navbar1_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_link {
  padding: 0.5rem 2rem;
  font-family: Merriweather, serif;
  color: #3a3a3a;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
}

.navbar1_link.w--current {
  color: #3a3a3a;
}

.navbar1_link.last {
  display: block;
  padding-right: 0rem;
}

.section_header {
  background-color: #3a3a3a;
  color: #fff;
}

.section_header.light {
  background-color: #f5f5f5;
}

.section_header.darkest {
  background-color: #212121;
}

.section_stats {
  margin-top: -3rem;
  background-color: #3a3a3a;
  color: #f5f5f5;
}

.section_stats.light {
  background-color: #f5f5f5;
}

.button-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button-row.is-button-row-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.divider {
  height: 1px;
  max-width: 36rem;
  margin: 1.5rem auto;
  background-color: rgba(58, 58, 58, 0.2);
}

.divider.light {
  background-color: hsla(0, 0%, 96.1%, 0.2);
}

.divider.wide {
  max-width: none;
}

.metric-label {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.metric-label.dark {
  color: #3a3a3a;
  text-shadow: none;
}

.metric-label.dark.regular-case {
  text-transform: none;
}

._3-cards_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.5rem 2.25rem 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 24px;
  background-color: rgba(58, 58, 58, 0.32);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 10px 8px 0 rgba(0, 0, 0, 0.12), 0 18px 12px 0 rgba(0, 0, 0, 0.16), 0 30px 24px 0 rgba(0, 0, 0, 0.18), 0 72px 58px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

._3-cards_item._1 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url('../images/bg-image_1.png');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

._3-cards_item._2 {
  height: 700px;
  background-image: url('../images/bg-image_2.png');
  background-position: 50% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

._3-cards_item._3 {
  background-image: url('../images/bg-image_3.png');
  background-position: 50% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

._3-cards_component {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.section_invest {
  background-color: #f5f5f5;
}

.info-display_component {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 4px;
  background-color: rgba(58, 58, 58, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}

.form-wrapper {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.dropdown_component {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown_toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 2.75rem;
  padding: 1rem 2.5rem 1rem 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none #000;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.dropdown_dropdown-icon {
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
}

.dropdown_dropdown-list.w--open {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.dropdown2_dropdown-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0.5rem;
  font-size: 0.8125rem;
}

.dropdown2_dropdown-link.w--current {
  color: transparent;
}

.card-front {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-row-gap: 2rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cardflip-less {
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.cardflip-more {
  position: static;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.card-back_content-container {
  padding: 2.5rem 2.25rem 3rem;
}

.div-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.9rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lock-period_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  padding: 0.5rem 0.5rem 0.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.lock-period_button.shadow-medium {
  height: 100px;
}

.lock-period_button.selected.shadow-medium {
  background-color: #fff;
}

.lock-period_month-count {
  font-family: Merriweather, serif;
  font-size: 1.375rem;
  line-height: 1.2;
}

.multiplier {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  background-color: #fff;
  color: #3a3a3a;
  font-size: 0.875rem;
}

.multiplier.selected {
  background-color: #3a3a3a;
  color: #fff;
  font-weight: 300;
}

.div-block-2 {
  padding: 1rem;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.text-block-2 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

.text-block-3 {
  color: #fff;
  font-size: 0.875rem;
  text-align: left;
}

.text-block-4 {
  font-size: 1rem;
  font-weight: 300;
}

.icon_invest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f5f5f5;
}

.card-item_icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.text-block-5 {
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.token-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.token-wrapper:hover {
  background-color: #f5f5f5;
}

.token-image {
  width: 2rem;
}

.metric-wrapper {
  position: relative;
  padding: 20px;
}

.tab-link {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: transparent;
}

.tab-link.w--current {
  background-color: transparent;
  background-image: url('../images/highlight_blur.png');
  background-position: 50% 50%;
  background-size: 10rem;
  background-repeat: no-repeat;
}

.metric {
  font-family: Merriweather, serif;
  color: #f5f5f5;
  font-size: 1.75rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.metric.dark {
  color: #3a3a3a;
  text-shadow: none;
}

.tabs-menu-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.vertical-divider {
  position: absolute;
  left: auto;
  top: 60px;
  right: 0%;
  bottom: auto;
  width: 1px;
  height: 60px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.vertical-divider.dark {
  background-color: rgba(58, 58, 58, 0.2);
}

.tabs-content {
  margin-top: 2rem;
}

.footer_link-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.footer_social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.footer_top-wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4vw;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer_social-list {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.footer_bottom-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Merriweather, serif;
  white-space: normal;
}

.footer_credit-text {
  font-size: 0.75rem;
}

.footer_link {
  font-family: Merriweather, serif;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
}

.footer_logo-link {
  padding-left: 0px;
}

.footer4_legal-link {
  color: #3a3a3a;
  font-size: 0.75rem;
}

.social-icon-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3a3a3a;
}

.section_treasury-content {
  background-color: #212121;
}

.treasury_stat-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 8px;
  background-color: transparent;
}

.treasury_stat-block.w--current {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.treasury_stat-block.total {
  background-image: url('../images/pie-chart_placeholder.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.treasury_tab-content-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 8px;
}

.cardlip-more {
  position: absolute;
  right: 24px;
  bottom: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.8rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.25rem;
  border-radius: 50px;
  background-color: #3a3a3a;
  text-decoration: none;
}

.text-block-6 {
  color: #f5f5f5;
  font-size: 0.7rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card_top-half-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-row-gap: 2rem;
}

.tab-link-unlock {
  width: 6rem;
  padding: 0px 0px 0.5rem;
  background-color: transparent;
  opacity: 1;
}

.tab-link-unlock.w--current {
  width: 6rem;
  padding-bottom: 0.35rem;
  border-bottom: 0.15rem solid #3a3a3a;
  background-color: transparent;
}

.tab-link-lock {
  width: 6rem;
  padding: 0px;
  background-color: transparent;
}

.tab-link-lock:hover {
  opacity: 1;
}

.tab-link-lock.w--current {
  padding-top: 0px;
  padding-bottom: 0.35rem;
  border-bottom: 0.15rem solid #3a3a3a;
  background-color: transparent;
}

.tabs-menu-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 1rem;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-row-gap: 2rem;
}

.tabs-content-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-pane-lock {
  height: 100%;
}

.tab-pane-unlock {
  height: 100%;
}

.card_bottom-half-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.tabs-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.metric-detail {
  margin-top: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.metric-detail.dark {
  color: #3a3a3a;
}

.treasury-tabs_menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.treasury-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.treasure-tabs_content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.treasury-tabs_tab-pane {
  height: 100%;
  margin-top: 4rem;
}

.treasury_chain-table-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 4px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}

.treasury-table {
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 1fr 1fr 0.25fr;
  grid-template-columns: 2fr 1fr 1fr 0.25fr;
  border-radius: 8px;
  white-space: normal;
}

.table-row {
  display: -ms-grid;
  display: grid;
  padding: 0.75rem 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 1fr 1fr 0.5fr;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 4px;
}

.table-row.alt {
  background-color: hsla(0, 0%, 100%, 0.03);
}

.table-row.header {
  height: 3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-weight: 600;
  text-transform: uppercase;
}

.table-row.last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xxhuge {
    padding: 7.5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #000;
  }

  .menu-icon1_line-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }

  .menu-icon1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: -0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar1_menu {
    overflow: auto;
    padding: 1rem 5% 2rem;
    border-bottom: 1px solid #000;
    background-color: #fff;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .navbar1_menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #000;
  }

  .navbar1_link {
    width: auto;
    padding: 0.75rem 0rem;
    font-size: 1.125rem;
  }

  ._3-cards_item {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  ._3-cards_component {
    grid-column-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dropdown_dropdown-icon {
    left: auto;
    top: auto;
    right: 0%;
    bottom: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .tab-link {
    padding: 2rem 0px 1.5rem;
  }

  .metric {
    font-size: 1.25rem;
  }

  .footer_top-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .treasury_stat-block {
    padding: 1rem;
  }

  .treasury_stat-block.total.w--current {
    background-size: contain;
  }

  .treasury_tab-content-wrapper {
    min-height: 21rem;
  }

  .treasury-tabs_menu {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .container-large.padding-bottom.padding-xxhuge {
    position: relative;
  }

  .margin-xsmall {
    margin: 0.75rem;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xxhuge {
    padding: 5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .navbar1_logo {
    max-width: 80%;
  }

  .navbar1_logo-link {
    padding-left: 0px;
  }

  ._3-cards_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tab-link.w--current {
    background-size: 7rem;
  }

  .footer_link-list {
    justify-items: center;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
  }

  .footer_bottom-wrapper {
    justify-items: center;
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }

  .footer_credit-text {
    margin-top: 1rem;
  }

  .treasury_tab-content-wrapper {
    position: static;
    top: 0px;
    padding: 0rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .metric-detail {
    font-size: 0.6rem;
    line-height: 1.1;
  }

  .treasury-tabs_menu {
    padding-right: 0.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .treasury-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 0px;
  }

  .treasury_chain-table-info {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .navbar1_logo {
    max-width: 80%;
  }

  .metric-label {
    font-size: 0.7rem;
    letter-spacing: 0px;
  }

  ._3-cards_item {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  ._3-cards_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-perspective: 5000px;
    perspective: 5000px;
  }

  .metric-wrapper {
    padding: 0px;
  }

  .tab-link.w--current {
    background-size: 3.4rem;
  }

  .metric {
    font-size: 1rem;
    letter-spacing: -0.5px;
  }

  .vertical-divider {
    display: none;
  }

  .treasury_tab-content-wrapper {
    position: static;
    min-height: 20rem;
  }

  .treasury_chain-table-info {
    padding: 0.5rem;
  }

  .treasury-table {
    grid-column-gap: 8px;
    font-size: 0.75rem;
    line-height: 1.25;
  }

  .table-row {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    grid-column-gap: 8px;
  }

  .table-row.alt {
    grid-column-gap: 8px;
  }

  .table-row.header {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

#w-node-_59392ccc-d963-1bc4-e136-75c0c8533620-c853361a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_59392ccc-d963-1bc4-e136-75c0c8533629-c853361a {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_0f14b133-9bf9-1a87-08a6-3d638511c8b3-ee138f41 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_23b358c8-85e0-0346-9974-a7e331b39644-ee138f41 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bf6f1075-44df-537e-932d-ed451ba17c63-ee138f41 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fa09827d-d956-b47a-a042-c351b047cdde-f3cdef16 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bbf6-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bbff-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc08-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc11-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc1a-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc23-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc2c-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc35-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc3e-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc47-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc50-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1927f4ca-3de1-dc62-45f4-3ce19715bc59-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af50-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af59-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af62-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af6b-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af74-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af7d-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af86-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af8f-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6af98-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6afa1-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6afaa-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1b3b76d-91c0-417b-7637-4a6443f6afb3-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5731-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f573a-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5743-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f574c-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5755-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f575e-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5767-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5770-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5779-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5782-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f578b-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26d6f16b-3967-26fa-2f70-3c57651f5794-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d3632363-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d363236c-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d3632375-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d363237e-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d3632387-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d3632390-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d3632399-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d36323a2-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d36323ab-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d36323b4-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d36323bd-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_411f26b6-cbd8-1b63-a670-29c3d36323c6-f3cdef16 {
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_59392ccc-d963-1bc4-e136-75c0c8533620-c853361a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_59392ccc-d963-1bc4-e136-75c0c8533629-c853361a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-fa09827d-d956-b47a-a042-c351b047cdde-f3cdef16 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_59392ccc-d963-1bc4-e136-75c0c8533631-c853361a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_59392ccc-d963-1bc4-e136-75c0c8533620-c853361a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fa09827d-d956-b47a-a042-c351b047cdde-f3cdef16 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}

